<%= content_for :title, 'About' %>
<%= link_to 'Back to Home', { controller: 'main', action: 'index' } %><br />

<h1>Main#about</h1>
<p>Description of the TaskManager</p>
<p>Created by <%= @created_by %></p>

<% content_for(:script) do %>
  <script>alert('Welcome!')</script>
<% end %>